body {
	background-color: $main-background;
}

.navbar {
	width: 400px;
	height: 70px;
	border: 2px solid;
	margin: 0 auto;
	box-shadow: $box-shadow;
}

li {
	display: inline-block;
	margin-right: 40px;
}